{% extends "TroiswaBackBundle::layout.html.twig" %}


{% block title "todo - " ~ parent() %}

{% block titlepage %}todo{% endblock %}


{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        <i class="fa fa-dashboard"></i> Chat
    </li>
{% endblock %}


{% block content %}

{% endblock %}